<% if @topic.name == 'Babysitter Pay Rate' %>
<% @message = "Hey neighbor,\n
When we're shelling out dough for babysitters, I\'m always wondering if we\'re overpaying, scrimping or getting it just right.  Since a call-athon to other parents isn\'t going to happen, I'm experimenting with a new way to see how our rate stacks up against what other folks like us are paying.\n
If you\'re interested too, it's super simple to see how you compare as well - just give your rate below, then get back an immediate web comparison against other Alexandrians." %>
<% elsif @topic.name == 'Mobilizers' %>
<% @message = "Hey neighbor,\n
As our kids are already growing up so fast, I\'m wondering when the right time is to let my child jump into the mobile world.  Since a call-athon to other parents isn't going to happen, I\'m experimenting with a new way to see how the age we plan to give our kids cell phones stacks up against what other folks are doing.\n
If you're interested too, it\'s super simple to see how you compare as well - just give the age below, then get back an immediate web comparison against other Alexandrians." %>
<% elsif @topic.name == 'Homework' %>
<% @message = "Hey neighbor,\n
If your house is anything like mine, homework is always a topic of conversation. So I wondered how my child\'s average homework load compared with other Alexandrians. I\'ve talked to a few neighbors, but I'm also experimenting with a new way to see how our homework load stacks up against what other folks are seeing.\n
If you\'re interested too, it's super simple to see how you compare as well - just give the average homework load for one of your kids below, then get back an immediate web comparison against other Alexandrians." %>
<% end %>

<div class="email_preview">
<h1>Email Preview</h1>
<br/>
<%= form_tag "/share_with_neighbor" do -%>
<table>
<tr class="plain">
<td class="plain" style="text-align: right;"><label for="contact_email">To:</label></td>
<td class="plain"><%= text_field "contact", "email", :value => session[:to_email] %></td>
</tr>
<tr class="plain">
<td class="plain top_right"><label for="comment_body">Message:</label></td>
<td style="padding: 10px"><%= text_area "contact", "message", :size => "8x30", :value => @message %>
	  <div class="field">
	    <label for="response_value"><%= @topic.question %></label><br />
	<% if @topic.name == "Babysitter Pay Rate" %>
	    <span class="dollar_sign">$</span><input id="response_value" name="response[value]" size="3" type="text" /> per hour
	<% elsif @topic.name == "Mobilizers" %>
	    <span class="dollar_sign"></span><input id="response_value" name="response[value]" size="3" type="text" /> years old
	<% elsif @topic.name == "Homework" %>
	    <span class="dollar_sign"></span><input id="response_value" name="response[value]" size="3" type="text" /> hour(s) per night
	<% end %>
</div>

</td>
</tr>
<tr class="plain">
<td class="plain"></td>
<td class="plain"><br/><input type="submit" value="Share with Neighbor" class="form_button round" /></td>
</tr>
</table>

<% end -%>

</div>