<h1>Suggest a Stack</h1>
We would love to hear your suggestions for new stacks!<br/>

<%= form_tag "/send_suggestion" do -%>
<table>
<tr>
<td style="text-align: right;"><label for="contact_name">Name (optional):</label></td>
<td><%= text_field "contact", "name" %></td>
</tr>
<tr class="plain">
<td class="plain" style="text-align: right;"><label for="contact_email">Email (optional):</label></td>
<td class="plain"><%= text_field "contact", "email" %></td>
</tr>
<tr>
<td style="vertical-align: top; text-align: right;"><label for="comment_body">Suggestion:</label></td>
<td><%= text_area "contact", "suggestion", :size => "8x30" %></td>
</tr>
</table>

<input type="submit" value="Submit Suggestion" class="share_button round" />
<% end -%>