.container {
  width: 800px;
  margin-bottom: 30px;
}

.shadow {
-moz-box-shadow: 10px 15px 20px #ccc;
-webkit-box-shadow: 10px 15px 20px #ccc;
}

body {
  /*  background-image:url('/images/1x407bluefade.png');*/
  /*  background-image:url('/images/bg.png');*/
  /*  background-color: #0088ce;*/
  background-image:url('/images/bluebg.png');
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

/* Links */

a {
/*  color: #09c;*/
  color: #fff;
  text-decoration: none;
}

a:hover {
/*  color: #069;*/
  color: #fff;
  text-decoration: underline;
}

a:visited {
/*  color: #069;*/
  color: #fff;
}

/* White Links */

td.action_steps.a {
/*  color: #09c;*/
  color: #fff;
  text-decoration: none;
}

td.action_steps.a:hover {
/*  color: #069;*/
  color: #fff;
  text-decoration: underline;
}

td.action_steps.a:visited {
/*  color: #069;*/
  color: #fff;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* Header */

td.header_logo {
  margin-bottom: 30px;
}

td.header_tagline {
  text-align: right;
  font-style: italic;
  color: #999;
}

/* Comparison */

.comparison {
  font: 110% arial,sans-serif;
  margin-left: 10px;
}

span.em {
  color: #0088ce;
  font-weight: bold;
}

/* Inset */

div.inset {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 5px 0px 0px 5px;
}

div.inset_title {
  font-weight: bold;
}

.border_left {
  border-style: none none none solid;
  border-width: 1px;
  border-color: black;
  padding-left: 15px;
}

div.assessment_inset {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 5px;
  margin: 20px 0px 0px 60px;	
}

tr.boldrow {
  font-weight: 900;
  font-size: 120%;
}

/* Legend */

div.legend {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 100%;
  font-size: 85%;
}

table.legend {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-top: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #eee;
}

td.legend_header {
  vertical-align: top;
  font-size: 120%;
  font-weight: bold;
}

td.legend_series {
  font-size: 120%;
}

td.legend_all {
  background-color: #999;
  border: 7px solid white;
}

td.legend_lowest {
  background-color: #8cb941;
  border: 7px solid white;
}

tr.plain td.plain {
  background-color: white;
}

/* Area Below Highchart */

div.below_the_fold {
  padding: 20px;
  background: #000 url(/images/1x400greyfade.png) top center repeat-x;
}

/* Action Steps */

div.action_steps {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background: #000 url(/images/1x151bluefade.png) top center repeat-x;
/*  background-color: #ffc;*/
  padding: 10px 10px 1px 10px;
}

td.action_steps {
  color: #fff;
  font-weight: bold;
  font-size: 125%;
}

td.action_links {
}

/* Highchart */

div.hc {
  height:300px;
  width: 400px;
  clear:both;
}

/* Share Stack */

div.share {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 50%;
  text-align: center;
/*  background-color: #ffc;*/
  background: #000 url(/images/1x400greyfade.png) top center repeat-x;
  padding: 10px 10px 1px 10px;
  color: #333;
}

div.share_header {
  font-weight: bold;
  font-size: 125%;
}

div.disclaimer {
  font-size: 75%;
  font-style: italic;
  margin-bottom: 20px;
}

td.share_labels {
  text-align: right;
}

input.share_button {
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  margin-bottom: 20px;
  display: block;
  text-align: center;
  width: 180px;
  height: 29px;
  color: #fff;
/*  background: #4572A7;*/
  background: #000 url(/images/1x29orangefade.png) top center repeat-x;
  font-size: 100%;
  font-weight: normal;
  padding: 3px;
}

input.form_button {
  margin-top: 20px;
  display: block;
  text-align: center;
  width: 150px;
  color: #fff;
  background: #4572A7;
  font-size: 100%;
  font-weight: normal;
  padding: 10px;
}

/* New Response Form */

div.new_response_img {
  display: inline-block;
}

div.new_response_form {
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
}

/* Responses Index */

td.response_header {
  font-weight: bold;
}

/* Errors */

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}