<div class="footer">
<ul>
  <li><%= link_to image_tag("/images/nav_about.png", :name => "about"), "#about",
							:rel => "facebox",
							:onmouseover => "document.about.src='/images/nav_about_hover.png';",						
							:onmouseout => "document.about.src='/images/nav_about.png';"%></li>
  <li>&#149;</li>
  <li><%= link_to image_tag("/images/nav_stacks.png", :name => "stacks"), "#stacks",
							:rel => "facebox",
							:onmouseover => "document.stacks.src='/images/nav_stacks_hover.png';",						
							:onmouseout => "document.stacks.src='/images/nav_stacks.png';"%></li>
  <li>&#149;</li>
  <li><%= link_to image_tag("/images/nav_comments.png", :name => "comments"), "#comments",
							:rel => "facebox",
							:onmouseover => "document.comments.src='/images/nav_comments_hover.png';",						
							:onmouseout => "document.comments.src='/images/nav_comments.png';"%></li>
</ul>
</div>
