<div class="footer">
<ul>
  <li><%= link_to image_tag("/images/nav_about_gray.png", :name => "about"), "#about",
							:rel => "facebox",
							:onmouseover => "document.about.src='/images/nav_about_hover.png';",						
							:onmouseout => "document.about.src='/images/nav_about_gray.png';"%></li>
  <li><span class="de-em">&#149;</span></li>
  <li><%= link_to image_tag("/images/nav_stacks_gray.png", :name => "stacks"), "#stacks",
							:rel => "facebox",
							:onmouseover => "document.stacks.src='/images/nav_stacks_hover.png';",						
							:onmouseout => "document.stacks.src='/images/nav_stacks_gray.png';"%></li>
  <li><span class="de-em">&#149;</span></li>
  <li><%= link_to image_tag("/images/nav_comments_gray.png", :name => "comments"), "#comments",
							:rel => "facebox",
							:onmouseover => "document.comments.src='/images/nav_comments_hover.png';",						
							:onmouseout => "document.comments.src='/images/nav_comments_gray.png';"%></li>
</ul>
</div>
