<div class="stk_col_right_header">View Other Stacks</div>
<% if Topic.count > 1 %>
<%= render Topic.all, :omit_topic => @topic %>
<% else %>
<%= link_to "Add a New Topic", new_topic_path %><br/>
<% end %>
<div class="de-em text-75"><br/>And more coming...</div>