<div class="stk_col_right_header">View Other Stacks</div>
<% if Topic.count > 1 %>
<%= render Topic.all, :omit_topic => @topic %>
<% else %>
<%= link_to "Add a New Topic", new_topic_path %><br/>
<% end %>
<br/>
And more coming with your help...