<div class="responses">
<h1>Responses (<%= @count %> Total)</h1>
<table>
  <tr>
	<td class="response_header">Topic</td>
	<td class="response_header">Value</td>
	<td class="response_header">Email</td>
	<td class="response_header">Created At</td>
	<td class="response_header">Modified At</td>
  <%= render @responses %>
</table>
</div>