<%=raw @contact[:message].gsub("\n\r","<br />").gsub("\r", "").gsub("\n", "<br />") %>
<br/>
<br/>
<div class="new_response_question"><%= @topic.question %></div>

<%= render 'layouts/stk_buttons' %>
