<p>Hey neighbor,</p>
 
<p>When we're shelling out dough for babysitters, I'm always wondering if we're overpaying, scrimping or getting it just right.  Since a call-athon to other parents isn't going to happen, I'm experimenting with a new way to see how our rate stacks up against what other folks like us are paying.</p>

<p>If you're interested too, it's super simple to see how you compare as well &mdash; just <strong>give</strong> your rate below, then <strong>get</strong> back an immediate web comparison against other Alexandrians.<p/>

<form accept-charset="UTF-8" action="http://parenting-mvp.heroku.com/topics/<%= @response.topic_id %>/responses" class="new_response" id="new_response" method="post">
  <div style="margin:0;padding:0;display:inline">
  <input type="hidden" name="utf8" value="&#x2713;" />
  <input type="hidden" id="response_email" name="response[email]" value="<%= @email %>" />
  </div>
  
  <div class="field">
    <label for="response_value">How much do you typically pay your babysitter?</label><br />
	<br/>
    <span class="dollar_sign">$</span><input id="response_value" name="response[value]" size="3" type="text" /> per hour
  </div>
<br/>
  <div class="actions">
    <input class="form_button" id="response_submit" name="commit" type="submit" value="Stack Me Up" />
  </div>
</form>

<p>Feel free to forward to other parents.  The more of us who answer, the better the results.  And if the muse strikes you with other comparisons you'd be interested in seeing, submit one and we'll give it a try.</p>

<p>
Thanks.
</p>

<!-- <table>
<tr>
<td>
  <img src="http://t2.gstatic.com/images?q=tbn:ANd9GcQYMjdebWTuYTi5p6lgwvHZnCi6BTHc0v6RxifOBLgBED_bJwcS">
</td>	
<td>
<div style="margin-left: 20px;">
<h3>Your friend
<% if @from_email && !@from_email.blank? %>
(<%= @from_email %>)
<% end %>
has shared this question with you.</h3>
<em>Interested to see how you stack up against your neighbors?</em>
<br/><br/>
<form accept-charset="UTF-8" action="http://parenting-mvp.heroku.com/responses" class="new_response" id="new_response" method="post">
  <div style="margin:0;padding:0;display:inline">
  <input type="hidden" name="utf8" value="&#x2713;" />
  <input type="hidden" id="response_email" name="response[email]" value="<%= @email %>" />
  </div>
  
  <div class="field">
    <label for="response_value">How much do you typically pay your babysitter?</label><br />
	<br/>
    <span class="dollar_sign">$</span><input id="response_value" name="response[value]" size="3" type="text" /> per hour
  </div>
<br/>
  <div class="actions">
    <input class="form_button" id="response_submit" name="commit" type="submit" value="Stack Me Up" />
  </div>
</form>
</div>
</td>
</tr>
</table> -->