<table>
<tr>
<td>
  <img src="http://t2.gstatic.com/images?q=tbn:ANd9GcQYMjdebWTuYTi5p6lgwvHZnCi6BTHc0v6RxifOBLgBED_bJwcS">
</td>	
<td>
<div style="margin-left: 20px;">
<h3>Your friend
<% if @from_email %>
(<%= @from_email %>)
<% end %>
has shared this question with you.</h3>
<em>Interested to see how you stack up against your neighbors?</em>
<br/><br/>
<form accept-charset="UTF-8" action="http://parenting-mvp.heroku.com/responses" class="new_response" id="new_response" method="post">
  <div style="margin:0;padding:0;display:inline">
  <input type="hidden" name="utf8" value="&#x2713;" />
  <input type="hidden" id="response_email" name="response[email]" value="<%= @email %>" />
  </div>
  
  <div class="field">
    <label for="response_value">How much do you typically pay your babysitter?</label><br />
	<br/>
    <span class="dollar_sign">$</span><input id="response_value" name="response[value]" size="3" type="text" /> per hour
  </div>
<br/>
  <div class="actions">
    <input class="form_button" id="response_submit" name="commit" type="submit" value="Stack Me Up" />
  </div>
</form>
</div>
</td>
</tr>
</table>