<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Topic Suggestion!</h1>
    <p>
      Topic 1: <%= @suggestion[:topic1] %><br/>
      Topic 2: <%= @suggestion[:topic2] %><br/>
      Topic 3: <%= @suggestion[:topic3] %><br/>
    </p>
    <p><%= Time.now %></p>
  </body>
</html>