<div class="about_block">
<span class="em">What's this site about?</span>
<p>
StkUp is an experiment in finding a new and easy way for individuals, groups and communities to gather and use helpful comparison info on topics that matter to them (parenting, money, health, education...you name it).
</p>
<span class="em">How does it work?</span>
<p>
Simple, quick and anonymous &mdash; <strong>give</strong> your info ("I pay my babysitter $10/hr"), <strong>get</strong> an immediate comparison against others like you ("you pay 20% more than all neighbors").  The more who answer, the more helpful the data for all.
</p>
<span class="em">Who's behind it?</span>
<p>
A couple of Alexandria parents who wanted a way to answer the "I wonder how we compare to others like us?" questions that come up so often but for which the sources of credible, relevant, and local data are so few.
</p>
<table>
<tr><td>
<div class="about_img"><img src="/images/robertmorton.jpg" height="133"></div>
<div class="about_name">Robert Morton</div>
</td>
<td>
<div class="about_img"><img src="/images/stevebrown.jpg"></div>
<div class="about_name">Steve Brown</div>
</td>
</tr>
</table>
</div>
