<div class="action_steps round">
<table class="action_steps">
  <tr>
	<td class="action_steps"><a href="#action_info" rel="facebox">Learn<br/>More</a></td>
	<td class="action_links"><%=raw @action_step %>
	</td>
  </tr>
</table>
</div>

<div id="action_info" style="display:none;">
Links to resources for further steps<br/>
(reading up, participating in a related discussion, finding a resource)<br/>
you might want to take based on what the Stack tells you.
</div>
