<table class="below_the_fold">
<tr>
  <td class="below_the_fold_left"><%= render 'layouts/share_stack' %></div></td>
  <td><img src="/images/1x151bluefade.png" height="200"></td>
  <td class="below_the_fold_right"><%= render 'layouts/other_stacks' %></div></td>
<tr>
</table>