<script type="text/javascript">
// validates that the field value string has one or more characters in it
function isNotEmpty(elem) {
  var str = elem.value;
    var re = /.+/;
    if(!str.match(re)) {
        alert(elem.name + " cannot be blank.");
        setTimeout("focusElement('" + elem.form.name + "', '" + elem.name + "')", 0);
        return false;
    } else {
        return true;
    }
}

// batch validation router
function validateForm(form) {
    if (isNotEmpty(form.suggestion_topic)) {
		return true;
    }
    return false;
}

</script>

<div class="stk_col_right_header">Suggest a Stack</div>

<%= form_tag "/stack_request" do -%>
<%= text_area "request", "message",
	:class => "stack_request",
	:style => "color:lightgray",
	:value => "List topics (fitness, health, finances, ...) you'd like to see comparisons on (how much, how many, at what time)...",
	:onfocus => "if (this.value.substring(0, 11) == 'List topics') {this.value='';this.style.color = 'black'}" %>
Your email: <%= text_field "request", "from_email", :size => "20", :style => "color:lightgray",
		:value => 'you@example.com',
		:onfocus => "this.style.color = 'black'; if (this.value == 'feedback@stkup.com') {this.value='';}" %>

<br/>
<div><%= check_box "request", "opt_in" %> Keep me posted on new stack info</div>
<input type="submit" value="Send Stack Request" class="form_button round" />
<% end -%>
</div>
