<!-- <div class="header">
<table>
<tr>
<td class="header_logo"><%= link_to image_tag("/images/stkup_logo.png", :alt => "StkUp MVP"), root_path %></td>
<td class="header_tagline">Simple, Purposeful Comparisons</td>
</tr>
</table>
</div> -->