<table class="legend">
  <tr>
	<td class="legend_header">WHO ARE YOUR "NEIGHBORS"?</td>
	<td>
	<table>
	  <tr class="plain">
		<td class="legend_all"></td>
		<td class="plain legend_series">ALL NEIGHBORS</td>
	  </tr>
	  <tr class="plain">
		<td class="plain"></td>
		<td class="plain legend_def">Approximately <%= "%.f" % ((@count * 0.1).ceil.to_f / 0.1) %> parents in the City of Alexandria, Virginia.</td>
	  </tr>
	</table>
	</td>
	<td>
	<table>
	  <tr class="plain">
		<td class="legend_lowest"></td>
		<td class="plain legend_series"><%= @lowest_desc.upcase %></td>
	  </tr>
	  <tr class="plain">
		<td class="plain"></td>
		<td class="plain legend_def"><%=raw @lowest_legend %></td>
	  </tr>
	</table>
	</td>
  </tr>
</table>
