<div class="below_the_fold_header">See/Suggest Other Comparisons</div>
<% if Topic.count > 1 %>
<%= render @topics, :omit_topic => @topic %>
<% else %>
<%= link_to "Add a New Topic", new_topic_path %><br/>
<% end %>
<br/>
<span>Thought of other comparisons you'd like to see (more parenting questions, fitness, health, other)?</span><br/>
<%= form_tag "/suggestion" do -%>
<%= text_field "suggestion", "topic", :size => 50 %><br/>
<span class="de-em text-75">(how much, how many, at what age? etc.)</span>
<input type="submit" value="Suggest a Comparison" style="margin-top: 10px" class="form_button round" />
<% end -%>
