<div class="stk_col_right_header">Help Tip this Stack</div>
<div>Forward to parents in your neighborhood...the more answers, the better the results.<br/></div>

<div class="facebox_button">
	<a href="#info" rel="facebox"><input type="submit" value="Share with Neighbor >>" class="form_button round" /></a>
</div>

<div id="info" style="display:none;"><%= render 'mvp/email_preview' %></div>
