<div class="below_the_fold_header">Improve this Comparison!</div>
<div><em>Forward to other parents in your neighborhood...the more answers, the better the results. <!-- (<%= link_to "sample email", "/sample_email", :target => "_blank" %>) --><br/></em></div>

<div class="facebox_button">
	<a href="#info" rel="facebox"><input type="submit" value="Share with Neighbor >>" class="form_button round" /></a>
</div>

<div id="info" style="display:none;"><%= render 'mvp/email_preview' %></div>

<div style="height: 150px; width: 308px;" class="shadow">
<img src="/images/cityhall.png" height="150"/>
</div>