<div class="share_button_box">
<a href="#info" rel="facebox"><img src="/images/share_email.png"></a> 
<img src="/images/share_t_inactive.png"> 
<img src="/images/share_fb_inactive.png">
</div>

<div id="info" style="display:none;"><%= render 'mvp/email_preview' %></div>
