<div class="stk_col_right_header">Help <a href="#tip_info" rel="facebox">Tip this Stack</a></div>
<div>Forward to parents in your neighborhood. The more answers, the better the results.<br/></div>

<div class="facebox_button">
	<a href="#info" rel="facebox"><input type="submit" value="Share with Neighbor >>" class="form_button round" /></a>
</div>

<div id="info" style="display:none;"><%= render 'mvp/email_preview' %></div>

<div id="tip_info" style="display:none;">
Stacks reach the "tipping point" when they get enough<br/>
responses, so share the Stack with as many neighbors as you can!
</div>
