<div class="below_the_fold_header">Share with other Alexandrians!</div>
<div><em>Pass this along to your neighbors in Alexandria.</em></div>
<%= form_tag "/send_stack_form" do -%>
<table class="share_form">
  <tr>
	<td class="share_labels">
	  <label for="email">Email:</label><br/>
	  <!-- <label for="from_email">From:</label> -->
	</td>
	<td class="share_fields">
	  <%= text_field "contact", "email", :size => 40 %><br/>
	</td>
  </tr>
</table>
<input type="submit" value="Share with a Neighbor" style="margin-top: -15px" class="form_button round" />
<% end -%>
