<table class="stk_headline">
  <tr>
	<td class="stk_headline_left">
	  <%= render 'layouts/how_you_stack_up' %>
	</td>
	<td class="stk_headline_right">
	  <%= render 'layouts/tip_progress' %>
	</td>
  </tr>
</table>
